body{
    /* background-color: rgb(52, 154, 32); */
    background-image: url(Background8.jfif);
    /* background-image: url(Background\ 2.jfif); */
    /* background-image:url(background3.jfif) ; */
    background-size: cover;
    
    
}
.image-crop:after {
    content: "";
    background: url(Background8.jfif) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
     left: 50%; 
    width: 200%;  
    height: 100%;
    transform: translateX(-50%);
  }

header{
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Aligns items vertically at the center */
    /* background-color: #333;  */
    background-color: rgba(45, 5, 5, 0.5);
    color: #fff;
    padding: 10px 20px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
marquee{
    width: 100%;
}
header:hover{
    transform-style: scale;
    background-color: black;
} 
h1{
    background-color: red;
    width:100%;
    color: white;
    height: 50px;
    font-size: 40px;
}
.list{
    font-size: larger;
    display: flex;
    flex-direction: row;
    margin-right: 50%;
    color: white;
    justify-items: center;
    padding: 14px 16px;
    
}
a{
    color: white;
}
.list:hover{
    text-underline-offset: ;
    cursor: pointer;
    /* color: blue; */
}
li{
    margin-right: 10px;
    justify-content: center;
    
    
}
a:hover{
    color: aqua;

    /* background-color: black; */
}

img{
    width: 300px;
    display: flex;
}
h1:hover{
    background-color: black;
    color: red;
    cursor: pointer;
}

.paragraph{
    font-size: 50px;
    color: red;
    font-weight: bolder;
    font-style: italic;

    /* margin-left: 25%; */
    background-color:rgba(45, 5, 5, 0.5) ;
    width: 100%;
}
.image-grid{
    display: grid;
    grid-template-rows: ;
    grid-template-columns:repeat(5, 6fr) ; 
}
.image-grid img{
    width: 300px;
    margin: 10px;
}
footer{
    margin-top: 100vh;
    padding: 1em;
    background-color: rgba(45, 5, 5, 0.5);
    /* border-radius: 30px; */
    color: white;
    background-color:black;
    width: 100%;
    padding-top: 50px;
}
.contact us{
margin-inline-start: 25%;
}

/* .image1{
    grid-row:span3 ;
    grid-column: span2 ;
} */
/* .image2{
    grid-row:span2 ; 
    grid-column:span3 ;
} */
/* .image3{
    grid-row:span 2 ;
    grid-column: 3 ;
} */
/* .image4{
    grid-area:2 / 4 / 4 / 6 ;
    z-index: 1;
}  */
.copyright{
    color: white;
    font-size: smaller;
    margin-inline-start: 50%;
}
body {
    font-size: 16px;
    /* Other styles */
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    body {
        font-size: 14px;
        /* Other styles for smaller screens */
    }
}


